<footer class="container-fluid center-block constrained-max-width">
	<nav class="row text-center">
		<a class="text-uppercase" href="{{ site.homepage }}/faq">FAQ</a>
		<a class="text-uppercase" href="{{ site.homepage }}/terms">Terms</a>
		<a class="text-uppercase" href="{{ site.homepage }}/privacy">Privacy</a>
		<a class="text-uppercase" href="{{ site.homepage }}/pricing">Pricing</a>
		<a class="text-uppercase" href="mailto:hello@beomni.com">Contact</a>
	</nav>
	<div class="social text-center">
		<a href="https://twitter.com/{{ site.twitter }}" title="Twitter" class="btn btn-link social-icon social-icon-twitter"></a>
		<a href="https://www.facebook.com/{{ site.facebook_app_id }}" title="Facebook" class="btn btn-link social-icon social-icon-facebook"></a>
		<a href="https://instagram.com/{{ site.instagram }}/" title="Instagram" class="btn btn-link social-icon social-icon-instagram"></a>
		<a href="https://medium.com/{{ site.medium }}" title="Blog" class="btn btn-link social-icon social-icon-rss"></a>
	</div>
</footer>